<h1>URLFetch sample(twitter)</h1>

<% if flash['msg'] %>
  <%= flash['msg'] %>
<% end %>

<p>
  <form action='/twitter_timeline' method="GET">
    <strong>Username</strong>
    <p>
    <input type="text" name="screen_name">
    </p>
    <input type="submit" value="Show Timeline">
  </form>
</p>

<% if @res && @res.size != 0 %>
  <hr/>
  <h2><%=h @res.first['user']['screen_name'] %></h2>
	<table>
	<% @res.each do |r| %>
	  <tr>
	  <td>
	    <% if r['user']['profile_image_url'] %>
	      <img src="<%=r['user']['profile_image_url']%>">
	    <% end %>
	  </td>
	  <td>
	  <%=h r['text'] %>
	  </td>
	  <td>
	  <%=h r['created_at'] %>
	  </td>
	  </tr>
	<% end %>
	</table>
<% end %>
